apiVersion: 1

datasources:
  - name: Postgres
    type: postgres
    url: {{ ansible_default_ipv4.address }}:5432
    uid: {{ uid }}
    user: {{ user }}
    secureJsonData:
      password: {{ password }}
    jsonData:
      database: {{ database }}